body {
	font-size: 16px;
}
.col-centered {
  	float: none;
  	margin: 0 auto;
}
.main-calendar, .today-event-container {
	margin: 2em 0;
	padding: 0;
	box-shadow: 4px 4px 0 rgba(47,79,54,0.3);
}
.today-event-container {
	border-left: 2px solid white;
}
.clndr-controls>*, .events-today{
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	color: white;
	background: #69a776;
	transition: all 0.3s ease-in-out;
}
.clndr-previous-button, .clndr-next-button {
	cursor: pointer;
}
.glyphicon-chevron-left, .glyphicon-chevron-right {
	font-size: 12px;
}
.clndr-previous-button:hover, .clndr-next-button:hover {
	background: #528b5e;
}
.days-of-the-week>* {
	display: inline-block;
}
.header-day, .day {
	float:left;
	width: 14.2857%;
	text-align: center;
}
.header-day {
	padding: .4em;
	background: #97ce7f;
}
.clndr-grid {
	border-bottom: 6px solid #69a776;
}
.day {
	background: #f0f0f0;
	padding: 1em 0;
	border-right: 1px solid rgba(255,255,255,.5);
	border-bottom: 1px solid rgba(255,255,255,.5);
}
.event {
	cursor: pointer;
	position: relative;
}
.five-events:after, .four-events:after,
.three-events:after, .two-events:after,
.one-event:after {
	content: '';
	display: block;
	left: 10%;
	bottom: 10%;
	height: 6px;
	position: absolute;
	background: #ccc;
}
.today.event:after {
	background: white;
}
.five-events:after {
	width: 80%;
}
.four-events:after {
	width: 64%;
}
.three-events:after {
	width: 48%;
}
.two-events:after {
	width: 32%;
}
.one-event:after {
	width: 16%;
}
.no-event {
	background: #ddd;
	color: #ccc;
}
.today {
	background: #69a776;
	color: white;
}
.events-today {
	margin:0;
	line-height: 1.375em;
}
.event-list {
	background: #f0f0f0;
	border-bottom: 6px solid #69a776;
	height: 315.78125px;
	padding: 0 1.5em;
	overflow: scroll;
}
.title {
	margin: 0;
	padding: 1em 0 0;
}
.location, .time {
	font-size: 14px;
	margin: .3em 0 0 0;
}
.adjacent-month, .blur-day {
	background: #ddd;
	color: #aaa;
}

.date {
	margin: 2em 0 1em 0;
	padding-top: 2em;
	border-top: 1px solid #ccc;
}
.date:first-of-type {
	border: none;
	padding: 0;
}

.date h2 {
	margin: 0;
}

.hide {
	display: none;
}
.show {
	display: block;
}